<!--<app-favorite-->
<!--  [isFav]="sample.isFavorite"-->
<!--  (changeEvent)="onFavStateChanged($event)"-->
<!--&gt;</app-favorite>-->

<!--<div class="container-fluid">-->
<!--  <div class="container">-->
<!--    <div *ngFor="let data of sampleObj">-->
<!--      <app-banner [cData]="data"></app-banner>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--  <app-custom-card>-->
<!--    <ng-container class="heading">Main Heading</ng-container>-->
<!--    <ng-container class="title">Dummy</ng-container>-->
<!--    <ng-container class="text">lorem epsum li koni.....</ng-container>-->
<!--  </app-custom-card>-->
<!--</div>-->

<!--<div *ngIf="books.length > 0; then bfound else bnfound">-->

<!--</div>-->
<!--<ng-template #bfound>-->
<!--  <h1>Books Found</h1>-->
<!--</ng-template>-->
<!--<ng-template #bnfound>-->
<!--  <h1>Books NOT Found</h1>-->
<!--</ng-template>-->

<!--<div [hidden]="books.length == 0">-->
<!--  <h1>-->
<!--    Books Found-->
<!--  </h1>-->
<!--</div>-->

<!--<div [hidden]="books.length > 0">-->
<!--  <h1>-->
<!--    Books Not Found-->
<!--  </h1>-->
<!--</div>-->

<!--<ul class="nav nav-tabs nav-stacked">-->
<!--  <li class="nav-link" [class.active]="viewMode == 'vA'"><a (click)="viewMode = 'vA' ">View A</a></li>-->
<!--  <li class="nav-link" [class.active]="viewMode == 'vB'"><a (click)="viewMode = 'vB' ">View B</a></li>-->
<!--  <li class="nav-link" [class.active]="viewMode == 'vC'"><a (click)="viewMode = 'vC' ">View C</a></li>-->
<!--</ul>-->
<!--<div [ngSwitch]="viewMode">-->
<!--  <div *ngSwitchCase="'vA'">-->
<!--    <h2>View Type A</h2>-->
<!--  </div>-->
<!--  <div *ngSwitchCase="'vB'">-->
<!--    <h2>View Type B</h2>-->
<!--  </div>-->
<!--  <div *ngSwitchCase="'vC'">-->
<!--    <h2>View Type C</h2>-->
<!--  </div>-->
<!--  <div *ngSwitchDefault>-->
<!--    <h2>Something Wrong!</h2>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--  <button type="button" class="btn btn-primary" (click)="loadObj()">Load</button>-->

<!--  <ul class="list-group" *ngFor="let data of sampleObj; trackBy: trackByTitle">-->
<!--    <li class="list-group-item">{{data.title}}</li>-->
<!--    <button type="button" class="list-group-item btn btn-outline-danger" (click)="removeObj(data)">Remove</button>-->
<!--  </ul>-->

<!--  <button type="button" class="btn btn-primary" (click)="addOne()">Add 1</button>-->
<!--</div>-->

<!--<span>{{nUser.contact.phone}}</span>-->

<!--<div class="form-group">-->
<!--  <label for="phone">Enter Phone #</label>-->
<!--  <input type="text" class="form-control" name="phone" id="phone" aria-describedby="helpId" placeholder="Enter without spaces" appPkPhoneFormatter>-->
<!--  <small id="helpId" class="form-text text-muted">Help text</small>-->
<!--</div>-->

<!--<app-example-form></app-example-form>-->

<!--<app-signup-form></app-signup-form>-->

<app-posts></app-posts>

<!--<app-products></app-products>-->
