<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Image</th>
    <th>Price</th>
    <th>Discount Amount</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td scope="row">{{product.id}}</td>
    <td>{{product.name}}</td>
    <td><img [src]="product.image" class="img-fluid img-thumbnail" alt=""></td>
    <td>{{product.price | currency}}</td>
    <td>{{product.discount_amount | currency}}</td>
  </tr>
  </tbody>
</table>
